<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启扫描-->
    <context:component-scan base-package="com.yaorange.ssm.handler"/>
    <!--注解驱动-->
    <mvc:annotation-driven/>
    <!--静态资源-->
    <mvc:default-servlet-handler/>
    <!--前后端不分离项目：静态放行-->
    <mvc:default-servlet-handler/>

    <!--前后端分离：跨域配置-->
    <!--配置全局跨域：局部跨域是在处理器类上或方法上使用注解-->
    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*" allowed-methods="*" allowed-headers="*"/>
    </mvc:cors>
</beans>
